EXPO_PUBLIC_SUPABASE_URL=https://vhebjdkxiyrqpkwuczbn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZoZWJqZGt4aXlycXBrd3VjemJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4NDQwMzUsImV4cCI6MjA4OTQyMDAzNX0.CLVNv6Yl2avvoVijUpXo0Nn0Pxcko8r-0FaqX3fs0EY
